<div class="page-content">
    <div class="panel">
        <div class="panel-body container-fluid">

            <div class="example-wrap">
                <div class="example">
                    <form name="operationForm" novalidate class="simple-form" ng-submit="submit()">
                        <div class="form-group">
                            <h3>Pattern
                                <button name="clean" ng-click="cleanPattern()" class="btn btn-warning pull-right">Clean Current Pattern</button>
                            </h3>
                            <div>
                                <div class="radio-custom radio-default radio-inline" ng-repeat="(keyPattern, pattern) in patterns">
                                    <input type="radio" ng-change="getAllPatternInfo('{{ keyPattern }}')" ng-model="formData.selectedPattern" value="{{ keyPattern }}" id="{{ keyPattern }}"
                                        name="{{ pattern }}" />
                                    <label for="{{ pattern }}">{{ pattern }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-md-3">
                                <h3>Trade                              
                                </h3>
                                <div>
                                    <div class="radio-custom radio-default radio-inline" ng-repeat="item in currentTrades">
                                        <input type="radio" ng-change="getSelectedPatternName(item.label)" ng-model="currentPattern.selectedTrade" value="{{ item.$id }}" id="{{ item.$id }}" name="{{ item.label }}"
                                        />
                                        <label for="{{ item.label }}" class="{{ item.class }}">{{ item.label }}</label>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-3 col-md-3">
                                <h3>Pair </h3>
                                <div class="form-group">
                                    <select class="form-control" name="pairs" required ng-model="currentPattern.selectedPair" ng-options="m.$id as m.name for m in pairsData">
                                        <option value="">Select Pair</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3 col-md-3">
                                <h3>Time frame </h3>
                                <div class="form-group">
                                    <select class="form-control" name="pairs" required ng-model="currentPattern.selectedTimeframe" ng-options="m.$id as m.name for m in timeFrameData">
                                        <option value="">Select time frame</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3 col-md-3">
                                <h3>% Risk</h3>
                                <div class="form-group">
                                    <input type="text" value="" required name="riskPercentage" ng-model="currentPattern.riskPercentage" class="form-control">
                                </div>
                            </div>
                        </div>

                        

                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <h3>Validation</h3>
                                <div class="input-group">
                                    <div>
                                        <div name="validations" class="checkbox-custom checkbox-primary" ng-repeat="item in currentValidations">
                                            <div >
                                                <input type="checkbox" name="validation-name" ng-model="item.value" />
                                                <label for="{{ item.label }}" class="{{ item.class }}">{{ item.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4 col-sm-4">
                                <h3>Confirmation</h3>
                                <div class="input-group">
                                    <div>
                                        <div class="checkbox-custom checkbox-primary" ng-repeat="item in currentConfirmations">
                                            <div>
                                                <input type="checkbox" name="validation-name" ng-model="item.value" />
                                                <label for="{{ item.label }}" class="{{ item.class }}">{{ item.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <h3>Zone</h3>
                                <div class="input-group">
                                    <div>
                                        <div class="checkbox-custom checkbox-primary" ng-repeat="item in currentZones">
                                            <div>
                                                <input type="checkbox" name="validation-name" ng-model="item.value" />
                                                <label for="{{ item.label }}" class="{{ item.class }}">{{ item.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="clearing" />

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <h3>Probabilities</h3>
                                <div class="col-lg-4 col-sm-4" ng-repeat="item in currentProb">
                                    <div class="">
                                        <div class="checkbox-custom checkbox-primary checkbox-comments">
                                            <div >
                                                <input type="checkbox" name="validation-name" ng-model="item.value" />
                                                <label for="{{ item.label }}" class="{{ item.class }}">{{ item.label }}</label>
                                            </div>
                                        </div>
                                        <textarea class="form-control my-comment2" id="inputPlaceholder" placeholder="comments" ng-model="item.comments" rows="3" cols="20"> </textarea>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <hr class="clearing" />

                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <h3>Stop Loss</h3>
                                <div class="input-group">
                                    <div>
                                        <div class="checkbox-custom checkbox-primary" ng-repeat="item in currentStopLoss">
                                            <div>
                                                <input type="checkbox" name="validation-name" ng-model="item.value" />
                                                <label for="{{ item.label }}" class="{{ item.class }}">{{ item.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <h3>Trailing Stop Loss</h3>
                                <div class="input-group">
                                    <div>
                                        <div class="checkbox-custom checkbox-primary" ng-repeat="item in currentTrailStopLoss">
                                            <div>
                                                <input type="checkbox" name="validation-name" ng-model="item.value" />
                                                <label for="{{ item.label }}" class="{{ item.class }}">{{ item.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <h3>Target</h3>
                                <div class="input-group">
                                    <div>
                                        <div class="checkbox-custom checkbox-primary" ng-repeat="item in currentTargets">
                                            <div>
                                                <input type="checkbox" name="validation-name" ng-model="item.value" />
                                                <label for="{{ item.label }}" class="{{ item.class }}">{{ item.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="clearing" />

                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <h3>Adhesion</h3>
                                <div class="input-group">
                                    <div>
                                        <div class="checkbox-custom checkbox-primary" ng-repeat="item in currentAdhesion">
                                            <div>
                                                <input type="checkbox" name="validation-name" ng-model="item.value" />
                                                <label for="{{ item.label }}" class="{{ item.class }}">{{ item.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-6">
                                <h3>General Comments</h3>
                                <div class="input-group9">
                                    <textarea class="form-control" cols="10" rows="5" ng-model="currentPattern.generalComments"></textarea>
                                </div>
                            </div>
                        </div>

               
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>

                    </form>
                </div>
            </div>

            <div class="clearfix hidden-xs"></div>
        </div>
    </div>

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title">{{ "My trades" }}</h3>
            <div class="panel-actions">
                <!--<a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse" aria-hidden="true"></a>-->
            </div>
        </div>
        <div class="panel-body">
            <table ng-table="myTradesTable" class="table table-bordered table-striped table-condensed">
                <tr ng-repeat="row in $data">
                    <td data-title="'Date'" filter="{name: 'text'}" sortable="'trade_date'">
                        {{ row.trade_date | date:"dd/MM/yyyy hh:mm" }}
                    </td>
                    <td data-title="'pattern'" filter="{name: 'text'}" sortable="'pattern'">
                        {{ row.pattern['name'] }}
                    </td>
                    <td data-title="'pair'" filter="{name: 'text'}" sortable="'pair'">
                        {{ row.pair['name'] }}
                    </td>
                    <td data-title="'timeframes'" filter="{name: 'text'}" sortable="'timeframes'">
                        {{ row.timeframes['name'] }}
                    </td>
                    <td data-title="'trade'" filter="{name: 'text'}" sortable="'trade'">
                        {{ row.trade['label'] }}
                    </td>
                    <td data-title="'validations'" filter="{name: 'text'}" sortable="'validations'">
                        <div ng-repeat="validation in row.validations track by $index">
                            {{ validation['label'] }}
                        </div>
                    </td>

                    <td data-title="'confirmations'" filter="{name: 'text'}" sortable="'confirmations'">
                        <div ng-repeat="confirmation in row.confirmations track by $index">
                            {{ confirmation['label'] }}
                        </div>
                    </td>

                    <td data-title="'zones'" filter="{name: 'text'}" sortable="'zones'">
                        <div ng-repeat="zone in row.zones track by $index">
                            {{ zone['label'] }}
                        </div>
                    </td>

                    <td data-title="'probabilities'" filter="{name: 'text'}" sortable="'probabilities'">
                        <div title="{{ probability['prob_comments'] }}" ng-repeat="probability in row.probabilities track by $index">
                            {{ probability['label'] }}
                        </div>
                    </td>

                    <td data-title="'stop_loss'" filter="{name: 'text'}" sortable="'stop_loss'">
                        <div ng-repeat="stopLoss in row.stop_loss track by $index">
                            {{ stopLoss['label'] }}
                        </div>
                    </td>

                    <td data-title="'trailing_stop_loss'" filter="{name: 'text'}" sortable="'trailing_stop_loss'">
                        <div ng-repeat="trailStopLoss in row.trailing_stop_loss track by $index">
                            {{ trailStopLoss['label'] }}
                        </div>
                    </td>

                    <td data-title="'targets'" filter="{name: 'text'}" sortable="'targets'">
                        <div ng-repeat="target in row.targets track by $index">
                            {{ target['label'] }}
                        </div>
                    </td>

                    <td data-title="'adhesion'" filter="{name: 'text'}" sortable="'adhesion'">
                        <div ng-repeat="adhesion in row.adhesion track by $index">
                            {{ adhesion['label'] }}
                        </div>
                    </td>

                    <td data-title="'risk'" filter="{name: 'text'}" sortable="'risk'">
                        {{ row.risk }}
                    </td>

                    <td data-title="'comments'" filter="{name: 'text'}" sortable="'comments'">
                        {{ row.comments }}
                    </td>

                    <td data-title="'Options'">
                        <button class="btn btn-default" ng-click="editOperation(row.$id, row.pattern['$id'])">Edit</button>
                    </td>

                    

                </tr>
            </table>
        </div>
    </div>

</div>