h3 {
    font-size: 20px;
}

#loader {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.panel-body {
    padding-top: 10px;
}

mark {
    font-size: 14px;
}

.page-content {
    padding: 15px;
}

hr {
    margin-top: 11px;
    margin-bottom: 11px;
    border-top: 1px dashed #CCD5DB;
}

span.help-block {
    font-size: 13px;
}

.modal-dialog.modal-lg {
    width: 90%;
}

.modal-content {
    padding: 5px;
}

.trade-images img {
    float: left;
    width: 1025px;
    /* height: 330px; */
    
    margin: 2px;
}

.blue-font {
    color: #62a8ea;
}

.modal-dialog, .modal.in .modal-dialog {
    width: 98%;
}

.modal-content { 
    max-height: 1100px
}

.imgLargeSize{
    max-height: 530px;
}

.imgSmallSize {
    max-height: 330px;
}